# Compiled and metadata file types
**/__pycache__/*
*.DS_Store

# Explicit inclusions
!**/.gitkeep

# Shoestring procedurally generated components
/ServiceModules/
/start.sh
/stop.sh
/docker-compose.yml